.breadcrumb {
  text-align: left;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li+li::before {
  color: gray;
  content: ">";
}
.breadcrumb a {
  display: inline;
}

.breadcrumb li.location+li.location::before {
  content: ">";
  color: gray;
}
