.team-member img {
  width: 500%;
  height: auto;
  align-content: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: #1787dc;
    background-image: url(building.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
  }
  
  .header p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  .main {
    padding: 50px;
  }
  
  .main section {
    margin-bottom: 50px;
  }
  
  .about,
  .services,
  .team,
  .contact {
    text-align: center;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 10%;
    height: 10%;
    padding: 20px;


  }
  
  .team-member {
    margin: 10px;
    text-align: center;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
  }