/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    padding: 24px;
  }
  
 /* style.css */
 nav {
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align elements to the left */
}

nav img {
  height: 50px;
}

.nav-text {
  display: flex;
  align-items: center;
}

.colmar {
  color: black;
  font-size: 32px;
  margin-right: 5px;
  font-weight: bold;
  
}

.academy {
  color: gray;
  font-size: 32px;
  font-weight: bold;
  margin-right: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 16px;
  text-decoration: none;
  color: #333; /* Link color */
}
  
  .hero {
    background-color: #e0e0e0;
    text-align: center;
    padding: 100px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }