nav {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 4rem;
  padding: 0 1.5rem;
  /* flex-direction: row;  */
 
} 
.logo-container {
  display: flex;
  align-items: center;
}

.desktop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  /* margin-right: 20px; */

}

.logo-img {
  width: auto;
  height: 2em;
  margin-right: 1rem; /* Adjust margin as needed */
}

.logo-txt {
  font-size: 1.25em;
  font-weight: 500;
  color: #222;
}


#logo-text{
  color: #222;
  }

#logo-text-2{
  color: #999;
  }
