h1 {
    background-image: url('./pattern.jpeg'); /* Pattern resminizin yolu */
    background-size: cover;
    background-position: center;
    color: white; /* Metin rengi */
    padding: 20px; /* İçerikle arka plan arasında boşluk */
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
}

#Brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    background-color: mediumspringgreen;
}

#hacksaw {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: blue;
    background-color: lightcoral;
}