.container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
    /* justify-content: center; */
    /* justify-content: flex-end; */
  }

  .container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
        /* flex: 1; */
    /* width: 33.33%; */
  }

  .container > .search {
    /* flex: 2; */
  }

  .search {
    /* flex: 2; */
  }

  .logout {
    /* margin-left: auto; */
    /* flex: 1; */
    align-self: flex-start;
  }

  .home {
    /* margin-right: auto; */
    /* flex: 2; */ 
    /* flex: 1; */
    align-self: flex-end;
  }